<h1><%= @question.title %></h1>


<% if @errors %>
  <p> Answer errors! </p>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %> 


<div>
  Question: <%= @question.content %>
  By: <%= @question_asker.username %>
  Votes: <%= @question.sum_vote %>
</div>

<div class='voting'>
  <%= link_to raw("&uarr;"), upvote_question_path(@question.id), :method => :post  %>
  <%= link_to raw("&darr;"), downvote_question_path(@question.id), :method => :post  %>
</div>

Question Comments: <% @question.responses.each do |response| %>
    <li><%= response.content %> <%= response.sum_vote %> <%= link_to raw("&uarr;"), upvote_response_path(response.id), :method => :post %> <%= link_to raw("&darr;"), downvote_response_path(response.id), :method => :post %></li>
  <% end %>

<div>
  <%= @votes %>
</div>  

<div class='vote-errors'>
  <%= render_vote_errors(@vote_error) %>
</div>



<div class='response-errors'>
  <% if @response_errors %>
    <% @response_errors.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
  <%= render :partial => 'questions_responses', :locals => {question_id: @question.id } %>
</div>


<% unless @answers.empty? %>
  <ul class='answers'>
    <% @answers.each do |answer| %>
      <%= render 'answer', :answer => answer%>
    <% end %>   
  </ul> 
<% end%>


<%= form_for(@answer, :remote => true) do |f| %>  <%# wasn't working when @answer was in form for %>
  <%= f.text_area :content, :placeholder => "Answer the question!" %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.submit %>
<% end %>  


