<!DOCTYPE html>
<html>
<head>
  <title>DBCoverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= link_to 'Log Out', '/logout' if session[:user_id] %>
  <%= link_to 'My Profile', user_path(current_user) %>
  <%= link_to 'Browse Questions', questions_path %>
  <%= link_to 'Ask a Question', new_question_path %>
<% end %>
<% if flash[:notice] %>
  <div class='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
<%= yield %>

</body>
</html>
